<div id="content-header" class="mini hidden-xs">
  <h1>Dashboard</h1>
</div>

<div id="breadcrumb">
  <%= make_breadcrumb_link('dashboard', '/', 'Dashboard') %>
</div>

<%= render partial: 'layouts/messages' %>

<div class="container-fluid">
  <% Service.main_types.each do |type| %>
    <% services = get_services(type) %>
    <% ranges = get_service_ranges(services).flatten %>

    <div class="row col-xs-12">
      <div class="widget-box">
        <div class="widget-title">
          <span class="icon"><%= fa_icon services.first.icon %></span>
          <%= content_tag(:h5, "#{services.first.main_name} Range Statistics") %>
          <%= content_tag(:h5, 'Create Range', class: 'pull-right') %>
        </div>

        <div class="widget-content nopadding table-responsive">
          <table class="table table-striped table-bordered table-hover mycustomclass" id="table-ips">
            <thead>
              <tr>
                <th>IP Range</th>
                <th class="hidden-sm hidden-xs">Assigned</th>
                <th class="hidden-sm hidden-xs">Unassigned</th>
                <th>% Used</th>
                <th class="hidden-xs"></th>
              </tr>
            </thead>

            <tbody>
              <% ranges.each do |range| %>
              <tr>
                <td>
                  <%= link_to range.name, iprange_path(range), class: 'tip-right', data: {html: true}, title: "Subnet Mask: #{range.subnet_mask} <br /> Gateway: #{range.gateway}" %>
                </td>
                <td class="hidden-sm hidden-xs"><%= range.assigned %></td>
                <td class="hidden-sm hidden-xs"><%= range.unassigned %></td>
                <td><%= range.percentage_used %>%</td>
                <td class="hidden-xs">
                  <%= make_progress_bar_div(range) %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div><!-- end .widget-box -->
    </div><!-- end .row -->
  <% end %>
</div><!-- end container-fluid -->
