<%= form_for(resource, as: resource_name, class: 'loginform', url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <p>Enter username and password to continue.</p>
  <div class="input-group input-sm">
    <span class="input-group-addon"><i style="width:10px;" class="fa fa-user"></i></span>
    <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Username' %>
  </div>

  <div class="input-group input-sm">
    <span class="input-group-addon"><i style="width:10px;" class="fa fa-lock"></i></span>
    <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Password' %>
  </div>

  <div class="input-group input-sm">
    <span class="input-group-addon"><i style="width:10px;" class="fa fa-lock"></i></span>
    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: 'Confirm Password' %>
  </div>

  <div class="form-actions clearfix">
    <%= f.submit "Sign Up", class: 'btn btn-block btn-primary btn-default'%>
  </div>

  <%= render "devise/shared/links" %>
<% end %>
