<div class="form-group">
  <label class="col-sm-3 col-md-3 col-lg-2 control-label">Company Name</label>
  <div class="col-sm-9 col-md-9 col-lg-10">
    <div class="input-group input-group-sm">
      <%= company.text_field :name, class: "form-control input-sm", placeholder: 'Company Name (If Applicable)' %>
      <span class="input-group-btn">
        <a class="btn btn-inverse" data-toggle="collapse" data-target="#company">Show More</a>
      </span>
    </div>
  </div>
</div>

<div class="form-group collapse" id="company">
  <div class="row">
    <label class="col-sm-3 col-lg-2 control-label">Contact First Name</label>
    <div class="col-sm-9 col-lg-4">
      <%= company.text_field :contact_first_name, class: "form-control input-sm", placeholder: 'John' %>
    </div>
    <label class="col-sm-3 col-lg-2 control-label">Contact Last Name</label>
    <div class="col-sm-9 col-lg-4">
      <%= company.text_field :contact_last_name, class: "form-control input-sm", placeholder: 'Smith' %>
    </div>
  </div>
  <div class="row">
    <label class="col-sm-3 col-lg-2 control-label">Billing E-Mail</label>
    <div class="col-sm-9 col-md-9 col-lg-10">
      <%= company.email_field :billing_email, class: "form-control input-sm", placeholder: 'jsmith@company.com' %>
    </div>
  </div>
  <div class="row">
    <label class="col-sm-3 col-lg-2 control-label">Contact E-Mail</label>
    <div class="col-sm-9 col-md-9 col-lg-10">
      <%= company.email_field :contact_email, class: "form-control input-sm", placeholder: 'jsmith@company.com' %>
    </div>
  </div>

  <%= company.fields_for :company_address do |company_addr| %>
  <div class="row">
    <label class="col-sm-3 col-lg-2 control-label">Company Address</label>
    <div class="col-sm-9 col-md-9 col-lg-10">
      <%= company_addr.text_field :address_1, class: "form-control input-sm", placeholder: 'Street Address' %>
    </div>
  </div>
  <div class="row">
    <label class="col-sm-3 col-lg-2 control-label"></label>
    <div class="col-sm-9 col-md-9 col-lg-10">
      <%= company_addr.text_field :address_2, class: "form-control input-sm", placeholder: 'Apartment, Suite , Unit, Building, Floor, etc' %>
    </div>
  </div>
  <div class="row">
    <label class="col-sm-3 col-lg-3 control-label">City</label>
    <div class="col-sm-9 col-lg-3">
      <%= company_addr.text_field :city, class: "form-control input-sm", placeholder: 'City' %>
    </div>
    <label class="col-sm-3 col-lg-1 control-label">State</label>
    <div class="col-sm-9 col-lg-1">
      <%= company_addr.text_field :state, class: "form-control input-sm", placeholder: 'MO' %>
    </div>
    <label class="col-sm-3 col-lg-1 control-label">Zip</label>
    <div class="col-sm-9 col-lg-2">
      <%= company_addr.text_field :zipcode, class: "form-control input-sm", placeholder: 'Zip Code' %>
    </div>
  </div>
  <% end %> <!-- end company address -->

  <div class="row">
    <label class="col-sm-3 col-lg-2 control-label">Main Phone</label>
    <div class="col-sm-9 col-lg-2">
      <%= company.phone_field :main_number, class: "form-control input-sm", placeholder: 'XXX-XXX-XXXX', value: number_to_phone(@company.main_number, area_code: true) %>
    </div>
    <label class="col-sm-3 col-lg-2 control-label">Contact No</label>
    <div class="col-sm-9 col-lg-2">
      <%= company.phone_field :contact_number, class: "form-control input-sm", placeholder: 'XXX-XXX-XXXX', value: number_to_phone(@company.contact_number, area_code: true) %>
    </div>
    <label class="col-sm-3 col-lg-2 control-label">Fax</label>
    <div class="col-sm-9 col-lg-2">
      <%= company.phone_field :fax, class: "form-control input-sm", placeholder: 'XXX-XXX-XXXX', value: number_to_phone(@company.fax, area_code: true) %>
    </div>
  </div>
</div><!-- end collapsable company section -->
