<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Kingdom | CSR Database</title></title>

    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

		<script type='text/javascript' src='https://maps.googleapis.com/maps/api/js?v=3'></script>
		<script type='text/javascript' src='/assets/googleMaps.js'></script>

    <script type="text/javascript">
      function stopEnterKey(evt) {
        var evt = (evt) ? evt : ((event) ? event : null);
        var node = (evt.target) ? evt.target : ((evt.srcElement) ? evt.srcElement : null);
        if ((evt.keyCode == 13) && (node.type == "text")) { return false; }
      }
      document.onkeypress = stopEnterKey;
    </script>

    <link rel="shortcut icon" href="favicon.ico">
  </head>

  <body data-color="grey" class="old">

    <div id="wrapper">
      <div id="header">
        <h1><a href="/">Kingdom | CSR Database</a></h1>
        <a id="menu-trigger" href="#"><i class="fa fa-bars"></i></a>
      </div><!-- end header -->

      <div id="user-nav" class="hidden-xs">
        <%= render 'layouts/navbar' %>
      </div><!-- end user-nav -->

      <div id="sidebar">
        <%= render 'layouts/sidebar' %>
      </div><!-- end sidebar -->

      <div id="content">
        <%= yield %>
      </div><!-- end content -->

      <div class="row">
        <div id="footer" class="col-xs-12">
          2016 &copy; Kingdom Telephone
        </div><!-- end footer -->
      </div><!-- end row -->
    </div><!-- end wrapper -->

    <script src="/assets/jquery.min.js"></script>
    <script src="/assets/bootstrap.min.js"></script>

    <script src="/assets/custom.js"></script>
  </body>
</html>
