<div id="content-header" class="mini hidden-xs">
  <h1>Range Breakdown</h1>
</div>

<div id="breadcrumb">
  <%= make_breadcrumb_link('dashboard', '/', 'Dashboard') %>
  <%= make_breadcrumb_link('desktop', iprange_path(@range), @range.name, 'current') %>
</div>

<%= render partial: 'layouts/messages' %>

<div class="container-fluid row">
  <div class="col-xs-12">
    <div class="widget-box">
      <div class="widget-title">
        <span class="icon"><%= fa_icon @range.service.icon %></span>
        <h5>IP Range - <%= @range.name %></h5>
        <h5 class="pull-right">Subnet: <%= @range.subnet_mask %> | Gateway: <%= @range.gateway %></h5>
      </div>
      <div class="widget-content nopadding table-responsive">
        <table class="table table-striped table-bordered table-hover mycustomclass" id="table-range">
          <thead>
            <tr>
              <th>IP Address</th>
              <th class="hidden-xs">Account Number</th>
              <th>Customer Name</th>
              <th>Home Phone</th>
              <th>TDNP</th>
            </tr>
          </thead><!-- end thead -->

          <tbody>
            <script type="text/javascript">
              $( InitPage );

              function InitPage(){
                $.get("/api/v1/ipranges/<%= @range.id %>", function(data) {
                  var arrValues = data["ip_addresses"];

                  $.each(
                    arrValues,
                    function( intIndex, objValue ){
                      var ipAddressLink = "<a href=\"/ipranges/<%= @range.id %>/ipaddresses/" + objValue["id"] + "\">" + objValue["ip"] + "</a>";
                      var ipAddress = "";

                      if (objValue["customer"] == null) {
                        var tdnp = "";
                        var customerName = "Unassigned";
                        var accountNumber = "-";
                        var customerPhone = "-";
                        var tdnpButton = "<button class=\"btn btn-block btn-secondary disabled\">Disconnect</a>";
                      } else {
                        var accountNumber = objValue["customer"]["account_number"];
                        var customerId = objValue["customer"]["id"];
                        var customerName = objValue["customer"]["name"];
                        var customerNumber = objValue["customer"]["id"];
                        var customerPhone = objValue["customer"]["home_phone"].replace(/(\d{3})(\d{3})(\d{4})/, '($1) $2-$3');;

                        if (objValue["customer"]["active"] == true) {
                          var tdnp = "";
                          var tdnpButton = "<a class=\"btn btn-danger btn-block TDNP\" href=\"/customers/" + objValue["id"] + "/tdnp\">Disconnect</a>";
                        } else {
                          var tdnp = " class=\"tdnp\"";
                          var tdnpButton = "<a class=\"btn btn-success btn-block TDNP\" href=\"/customers/" + objValue["id"] + "/tdnp\">Reconnect</a>";
                        }
                      }

                      var customerData =
                        "<tr" + tdnp + ">"
                        +  "<td>" + ipAddressLink + "</td>"
                        +  "<td class=\"hidden-xs\">" + accountNumber + "</td>"
                        +  "<td>" + customerName + "</td>"
                        +  "<td>" + customerPhone + "</td>"
                        +  "<td>" + tdnpButton + "</td>"
                        +"</tr>";
                      $( "tbody" ).append( $(customerData) );
                    });
                });
              }
            </script>
          </tbody><!-- end tbody -->
        </table><!-- end table -->
      </div><!-- end widget-content -->
    </div><!-- end widget-box-->
  </div><!-- end col-xs-12 -->
</div><!-- end container-fluid -->
